.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--blue-color-primary);
  height: 6.5rem;
  letter-spacing: 0.1rem;
  outline: none;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: start;
}
.input__input {
  outline: none;
  border: none;
  font-size: 2rem;
  width: 100%;
}
.input__error {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.53);
}
@media screen and (max-width: 1250px) {
  .input__input {
    font-size: 1.5rem;
  }
}
