.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--blue-color-primary);
  font-size: 2rem;
  height: 6.5rem;
  letter-spacing: 0.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}
.input__error {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.53);
}
@media screen and (max-width: 1250px) {
  .input {
    font-size: 1.5rem;
  }
}
