.input {
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--blue-color-primary);
  padding: 1rem;
  font-size: 2rem;
  width: 31.8%;
  height: 6.5rem;
  /* margin-right: 1.4rem; */
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.53);
}
