.textField {
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans";
}
.textField::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1100px) {
  .textField {
    font-size: 1.5rem;
  }
}
