:root {
  --border-radius: 20px;
  --background-color-primary: rgba(255, 255, 255, 0.7);
  --background-color-secondary: #fff;
  --blue-color-primary: #2596be;
  --box-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-color-primary: 1px solid rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 1rem = 10px, 2rem = 20px */
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.5);
}
/* Body rules */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: url("/public/images/6431.jpg");
  background-repeat: repeat;
  font-family: "Noto Sans";
  line-height: 1.4;
  margin: 0;
}

/*  use span for every occurance of 20px */
span {
  font-size: 2rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.user__img {
  width: 50px;
  height: 50px;
}
.icon__img {
  width: 30px;
  height: 30px;
}
.icon__img__xs {
  width: 20px;
  height: 20px;
}
.view {
  align-items: center;
  background: var(--background-color-primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto 5rem; /* trbl   */
  padding: 3.6rem 4.6rem; /* trbl */
  width: 60%;
}
.view-wrap {
  background: var(--background-color-secondary);
  border-radius: var(--border-radius);
  padding: 0 4.5rem 4.5rem;
  width: 100%;
}
