.card {
  background: var(--background-color-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.8rem;
  width: 100%;
}
.card__poster {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  position: relative;
}
.card__poster::after {
  content: "";
  position: absolute;
  top: 45%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.5),
    #fff
  );
}
.card__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  width: 100%;
}
.title {
  margin-top: 0.5rem;
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.card__items {
  display: flex;
}
.card__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card__item__number {
  margin-right: 0.5rem;
}
.card__item__description {
  padding: 0 1.5rem;
}
.card__desc__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
}
.card__button__edit {
  margin-right: 1.4rem;
  width: 40%;
}
.card--margin {
  margin-right: 2rem;
}
@media screen and (max-width: 1267px) {
  .title {
    font-size: 1.5rem;
  }
  .card__title {
    flex-direction: column;
  }
  .card--margin {
    margin-right: 0;
  }
}
@media screen and (max-width: 980px) {
  .card__title {
    flex-direction: column;
  }
}
@media screen and (max-width: 890px) {
  .card {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1rem;
  }
}
